apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummy-webapp-deployment
  labels:
    app: dummy-webapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: dummy-webapp
  template:
    metadata:
      labels:
        app: dummy-webapp
    spec:
      containers:
      - name: webapp
        image: noizysthlm/dummy-webapp:prod
        ports:
        - containerPort: 5000
